      
body {
 margin: 0;
 font-family: 'Stylish', sans-serif;
}    

a {
  text-decoration: none;
  color: white;
}
.header{
  background-color: cadetblue;
  border: 1px solid navy;
  width: 100%;
  height: 100px;
  position: fixed;
  top:0;
}

.navbar {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  }


.navbar_logo{
  font-size: 40px;
}

.navbar_menu{
  display: flex;
  font-size: auto;
  list-style: none;
  margin: 0;
  padding-left: 0;
  justify-content: space-between;
  align-items: center;
}

.navbar_menu li{
  padding: 10px 10px;
}

.navbar_menu li:hover{
  background-color: navy;
  border-radius: 5px;
}

.navbar_sns{
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-size: 35px;
}

.navbar_sns li{
  padding: 10px 10px;
}

.navbar_toggleBtn{
  display: none;
  position: absolute;
  right: 25px;
  font-size: 25px;
  color: olive;
}

.midsection {
  width: 100%;
  height: 800px;
  border: blueviolet;
        
  }
.footer {
  background-color: chartreuse;
  width: 100%;
  height: 100px;
  position:bottom, fixed;
  }
@media screen and (max-width : 768px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar_logo{
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .navbar_menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li{
    width: 100%;
    text-align: center;
  }
  .navbar_menu li:hover{
    background-color: navy;
    width: 100%;
    border-radius: 5px;
    text-align: center;
  } 
  .navbar_sns{
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_toggleBtn{
    display: block;
  }
  .navbar_menu.active, .navbar_sns.active{
    display: flex;
  }
  
}
